@page "/"

<PageTitle>Gamle</PageTitle>

<div class="container-fluid">
    <div class="container">
        <h1 class="display-1"><strong>Gamle</strong></h1>
        <p><small>Guess the video game</small></p>
        <NavLink href="playing">
                <button class="btn btn-outline-warning btn-lg">Play</button>
        </NavLink>
    </div>
</div>